html,
body,
.root {
  background-color: #eef0f3;
  margin: 0;
  padding: 0;
}

.NewUI {
  /* border: 1px solid black; */
  background-color: #eef0f3;
  max-width: 700px;
  margin: auto;
  /* padding: 16px; */
  padding: 0;
  --radius: 5px;
  min-height: 100vh;
  box-sizing: border-box;
}

.NewUI .header {
  background-color: white;
  padding: 16px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
}
.NewUI .create {
  margin-top: 16px;
  /* background-color: #fffcf4;
  */
  padding: 16px;
  border: 1px solid black;
  border-radius: 15px;
}
.NewUI .create input {
  font-size: 16px;
  padding: 8px;
  border-width: 1px;
}
.NewUI .uppersec {
  display: flex;
}
.NewUI .field-title {
  flex-grow: 1;
  margin-right: 25px;
}
.NewUI .field-title input {
  width: 100%;
  border-radius: var(--radius) 0 0 0;
}
.NewUI .field-author input {
  width: 80px;
  border-radius: 0 var(--radius) 0 0;
}
.NewUI .field-content {
  margin-top: 8px;
}
.NewUI .field-content textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 var(--radius) var(--radius);
  font-size: 16px;
  /* margin: 0;
  */
  /* padding: 0;
  */
}
.NewUI .field-btn {
  margin-top: 8px;
  text-align: center;
}
.NewUI .field-btn button {
  width: 100px;
  height: 30px;
}
.NewUI .FeedItem {
  background-color: white;
  /* border: 1px solid black;
  */
  padding: 0;
  padding-top: 20px;
  padding-bottom: 4px;
  border: none;
  margin-top: 8px;
  border-radius: 4px;
}
.NewUI .FeedItem:last-child {
  margin-bottom: 16px;
}
.NewUI .FeedItem > * {
  padding: 0 24px;
}
.NewUI .FeedItem .leftflx {
  display: flex;
  align-items: center;
}
.NewUI .FeedItem .authorpic {
  margin-right: 4px;
  padding: 2px;
}
.NewUI .FeedItem .author {
  line-height: 1;
  font-size: 1.5em;
  color: #2d2d2d;
  font-weight: bold;
}
.NewUI .FeedItem .moreinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  color: #444;
}
.NewUI .FeedItem .title,
.NewUI .FeedItem .content {
  line-height: 1.5;
}
.NewUI .FeedItem .title {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 8px;
}
.NewUI .FeedItem .content {
  white-space: pre;
  text-wrap: pretty !important;
  padding-top: 16px;
  padding-bottom: 16px;
}
.NewUI .FeedItem .image,
.NewUI .FeedItem .image img {
  padding: 0;
  margin: 0;
  width: 100%;
}
.NewUI .FeedItem .deletebtn {
  margin-top: 8px;
}
.NewUI .FeedItem .date {
  line-height: 1;
  margin-top: 8px;
}
.NewUI .FeedItem .rightflx {
  display: flex;
  align-items: center;
}
.NewUI .FeedItem .bottomMenu {
  display: flex;
  justify-content: space-between;
}
.NewUI .FeedItem .bottomMenu > div:hover {
  /* background-color: #f2f2f2;
  */
  border: 1px solid #333;
}
.NewUI .FeedItem .bottomMenu > div {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 4px;
  border-radius: 4px;
  /* box-sizing: content-box;
  */
  border: 1px solid transparent;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
.NewUI .FeedItem .bottomMenu > div > span {
  font-size: 0.95em;
  line-height: 1;
  margin-bottom: 2.5px;
  margin-left: 4px;
}
