<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Login</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>




<!-- 추가적으로 로그인 성공 시 추가 정보 표시 (이메일 등) -->
<div th:if="${isValidUser != null and isValidUser}">
    <p>Login Successful!</p>
    <p th:text="'Email: ' + ${email}">User's Email</p>
</div>

</body>
</html>
