<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.realspr.mapper.TbsubjectMapper">

    <!-- 주제 세부내용 조회 쿼리 -->
    <select id="getDetailById" parameterType="hashMap" resultType="com.thc.realspr.dto.TbsubjectDto$DetailServDto">
        SELECT
            ts.id AS subjectId,
            CASE
                WHEN tul.userId IS NOT NULL THEN true
                ELSE false
                END AS `like`,
            tkm.id AS lastMessageId
        FROM
            TbSubject ts
                LEFT JOIN TbKaMessage tkm
                          ON ts.last_sent_chat_id = tkm.chat_id
                LEFT JOIN mydb_TbUserLike tul
                          ON ts.id = tul.subjectId
                              AND tul.userId = #{userId}
                              AND tul.deleted = 'N'
        WHERE
            ts.id = #{subjectId}
        GROUP BY
            ts.id, tul.userId, tkm.id;
    </select>

    <!-- 주제 마지막 메시지 조회 쿼리 -->
    <select id="getLastMessageByMessageId" parameterType="hashMap" resultType="com.thc.realspr.dto.TbsubjectDto$LastMessageServDto">
        SELECT id, last_sent_at AS sentAt, message
        FROM TbKaMessage
        WHERE id = #{lastMessageId}
    </select>

    <!-- 주제 메시지 이력 조회 쿼리 -->
    <select id="getMessageHistoryById" parameterType="hashMap" resultType="com.thc.realspr.dto.TbsubjectDto$MessageHistoryServDto">
        SELECT id, last_sent_at AS sentAt, message
        FROM TbKaMessage
        WHERE subject_id = #{subjectId}
        ORDER BY last_sent_at DESC
    </select>


</mapper>
